/* hader - banner */
.sakura-admin-header {
	background-color: #23282d;
	padding: 10px;
	margin-top: 8px;
	margin-right: 20px;
	color: #FFFFFF;
}

.sakura-admin-header-info {
	float: right;
	color: #979596;
	line-height: 40px;
	margin-right: 10px;
	margin-top: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px; 	
}
/* end hader - banner */

.admin-tabs-container {
	display: none;
}

/* options content */
.heartbeat-admin-content {
	margin-top: 10px;
	padding: 20px;
	margin-right: 20px;
	background: #FFFFFF;
}
.heartbeat-admin-content .heartbeat-admin-btn:link {
	color: #FFFFFF;
}
.heartbeat-admin-content .heartbeat-admin-btn:visited {
	color: #FFFFFF;
}
.heartbeat-admin-content .heartbeat-admin-btn:hover {
	color: #FFFFFF;
}
.heartbeat-admin-content .heartbeat-admin-btn:active {
	color: #FFFFFF;
}

.heartbeat-admin-content .tabs {
	-webkit-box-shadow: 1px 1px 4px 0px rgba(178,176,176,1);
	-moz-box-shadow: 1px 1px 4px 0px rgba(178,176,176,1);
	box-shadow: 1px 1px 4px 0px rgba(178,176,176,1);
}

.admin-tab-content {
	padding: 2px;
	padding-top: 30px;
}
/* end options content */

/* indexing options */
.heartbead-meta-info-ui {
	padding: 0px 10px;
	background: #fcfcfc;
	color: #26a69a;
	border-style: solid; border-color: #49c6ba; border-width: 1px;
	margin-bottom: 20px;
}

.hb-choose-terms-ui {
	min-width: 400px; height: 300px;
	background: #fcfcfc;
}

.progress-index {
	margin-top: 35px;
	display: none;
}

.progress-index .progress-label {
	color: #CCCCCC; font-style: italic;
}
/* end indexing options */

/* settings */
#hb_custom_css {
	min-width: 100%;
	min-height: 150px;
}

.hb-shortcode-display {
	background: #fbc5c7;
	padding: 3px 7px;
}
/* end settings */

.hb-modal-header {
	color: #26a69a;
}

