/* autocomplete widget */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {    
    background: #F2F2F2;
    font-weight: normal;
    color: #212121;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(112,108,112,1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(112,108,112,1);
	box-shadow: 1px 1px 3px 0px rgba(112,108,112,1);
}

.ui-widget-content .ui-menu-divider {
	clear: both;
    box-shadow: none;
    border-width: 1px;
    border: none;
    height: 1px;
    background: #CCC;
}

.ui-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
    float: left;
}
.ui-autocomplete {
    position: absolute;
    cursor: default;
}

.ui-menu .hb-autocomplete-item-li {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}

.ui-autocomplete .hb-autocomplete-item-li {
	margin-right: 25px;
	position: relative;
}

.ui-autocomplete .hb-autocomplete-item:link {
	color: #8da6b2;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
    padding: 15px 10px;
    font-size: 15px;
    margin: 0px;
    display: block;
}

.hb-item-thumb-ui {
	float: left;
}

.hb-item-thumb {
	max-width: 60px; margin: 10px;
}

.ui-autocomplete .hb-autocomplete-item:visited {
	color: #8da6b2;
	text-decoration: none;
}
.ui-autocomplete .hb-autocomplete-item:hover {
	color: #8da6b2;
}
.ui-autocomplete .hb-autocomplete-item:active {
	color: #8da6b2;
}
.hb-autocomplete-item-action-ui {
    position: absolute;
    height: 100%;
    right: 5px; top: 0px;
}

.hb-autocomplete-item-action {
    position: absolute;
    top: 37%;
    left: -14px;
    display: block;
}
/* end autocomplete widget */


/* material design search form ------------------------------- */
.hbmd-group        { 
  position:relative; 
  margin-bottom:45px; 
}
.hbmd-form input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  
  border:none !important;
  background: none !important;
  border-bottom: 1px solid #757575 !important;
  font-family: 'Roboto', sans-serif;
}
.hbmd-form input:focus     { outline:none; border: none; }

/* LABEL ======================================= */
.hbmd-form label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  font-family: 'Roboto', sans-serif;
}

/* active state */
.hbmd-form input:focus ~ label, .hbmd-form input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#64b5f6;
}

/* BOTTOM BARS ================================= */
.hbmd-form .bar  { position:relative; display:block;}
.hbmd-form .bar:before, .hbmd-form .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom: 0px; 
  position:absolute;
  background: #64b5f6; 
  transition:0.2s ease all; 
}
.hbmd-form .bar:before {
  left:50%;
}
.hbmd-form .bar:after {
  right:50%; 
}

/* active state */
.hbmd-form input:focus ~ .bar:before, .hbmd-form input:focus ~ .bar:after {
  width: 50%;
}

/* form resize based on container size*/
.hbmd-form-ui[min-width~="350px"] form {	
	width: 100%;
}

.hbmd-form-ui[min-width~="450px"] form {	
	width: 50%;
}
/* end material design search form ------------------------------- */


/* hb simple search form ------------------------------- */
.hb-form-ui .hb-search-input {
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.hb-form-ui .hb-search-input:focus {
    width: 100%;
}

/* end hb simple search form ------------------------------- */